.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	transition: 0.2s;
    max-width: 3000px;
}

h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 157, 0);
    font-weight: bold;
    border: solid;
    background-color: black;
    padding: 2px;
}
/* app.component.css */
body.light-theme {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s; /* Transizione per effetto liscio */
  }
  
  /* Tema Dark */
  body.dark-theme {
    background-color: black;
    color: white;
    transition: background-color 0.3s, color 0.3s; /* Transizione per effetto liscio */
  }