<<<<<<< HEAD
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	transition: 0.5s;
    max-width: 3000px;
}

h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 157, 0);
    font-weight: bold;
    border: solid;
    background-color: black;
    padding: 2px;
=======
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	transition: 0.5s;
    max-width: 3000px;
}

h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 157, 0);
    font-weight: bold;
    border: solid;
    background-color: black;
    padding: 2px;
>>>>>>> aa6ced4 (Primo commit)
}