<div class="container">
  <h2>Carrello</h2>
  <div *ngIf="elementiCarrello.length === 0">Il tuo carrello è vuoto.</div>
  <ul class="list-group mb-3">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let elemento of elementiCarrello">
      <div>
        <img class="card-img-top" [src]="elemento.image" alt="Card image cap">
        <h5>{{ elemento.title }}</h5>
        <p>{{ elemento.price | number:'1.2-2' }} €</p> <!-- Usa il pipe number -->
      </div>
      <button class="btn btn-danger btn-sm" (click)="rimuoviElemento(elemento)">Rimuovi</button>
    </li>
  </ul>
  <p class="totale">Totale: {{ totaleCarrello | number:'1.2-2' }}€</p> <!-- Usa il pipe number -->
  <button class="btn btn-warning" (click)="svuotaCarrello()" [disabled]="elementiCarrello.length === 0">Svuota Carrello</button>
</div>



<section class="p-4 p-md-5" style="
    background-image: url();
  ">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            <h3>Settings</h3>
            <h6>Payment</h6>
          </div>
          <form action="">
            <p class="fw-bold mb-4 pb-2"></p>

            <div class="d-flex flex-row align-items-center mb-4 pb-1">
              <img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
              <div class="flex-fill mx-3">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="formControlLgXc" class="form-control form-control-lg"
                    value="" />
                  <label class="form-label" for="formControlLgXc">Numero Carta</label>
                </div>
              </div>
              <a href="#!">Rimuovi Carta</a>
            </div>

            <div class="d-flex flex-row align-items-center mb-4 pb-1">
              <img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" />
              <div class="flex-fill mx-3">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="formControlLgXs" class="form-control form-control-lg"
                    value="" />
                  <label class="form-label" for="formControlLgXs">Numero Carta</label>
                </div>
              </div>
              <a href="#!">Rimuovi Carta</a>
            </div>

            <p class="fw-bold mb-4">Aggiungi Carta:</p>

            <div data-mdb-input-init class="form-outline mb-4">
              <input type="text" id="formControlLgXsd" class="form-control form-control-lg"
                value="" />
              <label class="form-label" for="formControlLgXsd">Nome della Carta</label>
            </div>

            <div class="row mb-4">
              <div class="col-7">
                <div data-mdb-input-init class="form-outline">
                  <input type="text" id="formControlLgXM" class="form-control form-control-lg"
                    value="" />
                  <label class="form-label" for="formControlLgXM">Numero Carta</label>
                </div>
              </div>
              <div class="col-3">
                <div data-mdb-input-init class="form-outline">
                  <input type="password" id="formControlLgExpk" class="form-control form-control-lg"
                    placeholder="MM/YYYY" />
                  <label class="form-label" for="formControlLgExpk">Scadenza</label>
                </div>
              </div>
              <div class="col-2">
                <div data-mdb-input-init class="form-outline">
                  <input type="password" id="formControlLgcvv" class="form-control form-control-lg"
                    placeholder="Cvv" />
                  <label class="form-label" for="formControlLgcvv">Cvv</label>
                </div>
              </div>
            </div>

            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-lg btn-block">Aggiungi Carta</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>