.list-group-item {
  display: flex;
  flex-direction: column; /* Dispone il contenuto della card in colonna */
  justify-content: space-between; /* Spazio tra gli elementi */
  align-items: center; /* Centra gli elementi */
  border: 1px solid #ddd; /* Bordo per gli elementi del carrello */
  border-radius: 5px; /* Angoli arrotondati per gli elementi */
  margin-bottom: 10px; /* Spaziatura tra gli elementi */
  padding: 15px; /* Spaziatura interna */
  background-color: #fff; /* Sfondo bianco per gli elementi */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Aggiunge un'ombra leggera */
  max-width: 300px; /* Limita la larghezza delle card */
  width: 100%; /* Assicura che le card non superino la larghezza del contenitore */
}

.list-group-item img {
  .list-group-item img {
    width: 100px; /* Larghezza dell'immagine */
    height: auto; /* Mantiene il rapporto di aspetto originale */
    border-radius: 5px; /* Angoli arrotondati per l'immagine */
    margin-bottom: 15px; /* Spaziatura sotto l'immagine */
    align-self: center; /* Centra l'immagine all'interno del contenitore flex */
  }
  
}

.list-group-item h5,
.list-group-item p {
  margin: 0;
  color: #007bff; /* Colore per il titolo del prodotto */
  text-align: center; /* Centra il testo */
}

.list-group-item p {
  color: #555; /* Colore per il prezzo del prodotto */
  margin-top: 5px; /* Spazio tra il titolo e il prezzo */
  text-align: center; /* Centra il testo */
}

.btn-danger {
  background-color: #dc3545; /* Colore di sfondo per il bottone "Rimuovi" */
  border: none; /* Rimuove il bordo */
  padding: 5px 10px; /* Spaziatura interna del bottone */
  font-size: 14px; /* Dimensione del testo del bottone */
  margin-top: auto; /* Spinge il bottone verso il fondo della card */
  width: 100%; /* Larghezza al 100% */
}

.btn-warning {
  background-color: #ffc107; /* Colore di sfondo per il bottone "Svuota Carrello" */
  border: none; /* Rimuove il bordo */
  margin-top: 20px; /* Spaziatura sopra il bottone */
  padding: 10px 20px; /* Spaziatura interna del bottone */
  font-size: 16px; /* Dimensione del testo del bottone */
  width: 100%; /* Larghezza al 100% */
}

.btn-danger:hover,
.btn-warning:hover {
  opacity: 0.8; /* Effetto hover per i bottoni */
}

@media (max-width: 576px) {
  .list-group-item {
    max-width: 100%; /* Assicura che le card utilizzino l'intera larghezza disponibile */
  }

  .btn-danger {
    margin-top: 10px; /* Aggiunge uno spazio sopra il bottone "Rimuovi" su schermi piccoli */
  }
}
